body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/bg-login.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

  
}

.login-Container{
    display: flex;
    flex-direction: row;
}

.formLogin{
    background-color: #858b97;
    opacity: .8;
    border-radius: 20px ;
    width: 300px;
    text-align: center;
    margin-left: 400px;
    max-height: 800vh;
    margin-top: 130px;
    padding-top: 20px;
}
.LoginPageTitle{
    color: black;
    margin-left: 480px;
    position: absolute;
    
}
h2{
    color: black;
}
p{
    color: black;
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.form-container {
  
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
   
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.LoginButton{
    margin-top: 30px;
    width: 200px;
}