.formRegister{
    background-color: #858b97;
    opacity: .8;
    border-radius: 20px ;
    width: 300px;
    text-align: center;
    margin-left: 400px;
    padding-bottom: 3rem;
    padding-top: 20px;
}
.titleRegister{
    margin-left: 450px;
    color: black;
}


.RegisterButton{
margin-top: 30px;
width: 200px;
}
